<div class='col_fade'>
  <p>ClickHouse.com.cn 社区为国内最专业的 ClickHouse 开源技术社区，致力于 ClickHouse 的技术研究。</p>
  <p>服务器搭建在
    <a href="http://www.ucloud.com" target="_blank"
      class="sponsor_outlink" data-label="ucloud">
      <img src="<%- staticFile('/public/images/ucloud.png') %>" title="ucloud"
      alt="ucloud" style="height: 20px"/>
    </a>
  ，存储赞助商为
    <a href="http://www.qiniu.com/?ref=clickhouse" target="_blank"
      class="sponsor_outlink" data-label="qiniu_bottom">
      <img src="<%- staticFile('/public/images/icon-qiniu-with-title.png') %>" title="七牛云存储"
      alt="七牛云存储" style="height: 20px"/>
    </a>
    ，社区原技术框架为
    <a href="https://cnodejs.org/" target="_blank"
       class="sponsor_outlink" data-label="cnodejs_bottom">
      <img src="<%- staticFile('/public/images/cnodejs.svg') %>" title="cnodejs"
           alt="cnodejs" style="height: 20px"/>
    </a>
  </p>
</div>
