<%- partial('../sidebar') %>

<div id='content'>
  <div class='panel'>
    <div class='header'>
      <ul class='breadcrumb'>
        <li><a href='/'>主页</a><span class='divider'>/</span></li>
        <li class='active'><h1>关于ClickHours中国社区</h1></li>
      </ul>
    </div>
    <div class='inner topic'>
      <div class="topic_content">
        <%- markdown(multiline(function () {
/*
### 关于
![clickhouse.gif](http://www.clickhouse.com.cn/public/upload/91a9d33ed4136841279e19f9c5437d8b.gif)

ClickHouse.com.cn 社区为国内最专业最具影响力的 ClickHouse开源技术社区，致力于 ClickHouse 的技术研究、推广和普及。

ClickHouse中文社区由一批热爱 ClickHouse 技术的工程师发起，社区每年会定期组织线上和线下的分享与交流会，目前已经吸引了互联网各个公司的专业技术人员加入，我们非常欢迎更多对 ClickHouse 感兴趣的朋友。

感谢[易观](https://www.analysys.cn/)为社区提供免费的服务器资源

如有任何关于社区的问题或建议，请发贴联系或邮件联系(ifengkou@hotmail.com)

*/
        })) %>
      </div>
    </div>
  </div>
</div>
